<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Enrolled Students</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="container">

  <h1>Enrolled Students</h1>

  <table>

    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Course</th>
    </tr>

    <tr th:each="student : ${students}">
      <td th:text="${student.id}"></td>
      <td th:text="${student.name}"></td>
      <td th:text="${student.email}"></td>
      <td th:text="${student.courseName}"></td>
    </tr>

  </table>

  <br>

  <a href="/">Back to Registration</a>

</div>

</body>
</html>